In [1]:
# import libraries

import pandas as pd

In [2]:
# load datafile

df = pd.read_csv("mode.csv")

In [3]:
# print top 5 rows

df.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

### CALCULATE THE MODE OF SUBJECT COLUMN

In [7]:
mode_df = df['Subject'].mode()    # mode function
print(mode_df)    # printing mode

0    Chemistry
dtype: object