In [1]:
# importing libraries

import pandas as pd

In [2]:
# load data

df = pd.read_csv("Median.csv")

In [4]:
# printing the first 5 rows

df.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

### Calculating Median

In [6]:
median_df = df["Overall Marks"].median()    # median function

In [7]:
print(median_df)    # printing median

77.0

### Calculating Quartiles. Remember, Quartiles are 4 times of Quantiles. Eg: 4 Quartile = 1 Quantile

In [8]:
Q1 = df["Overall Marks"].quantile(0.25)    # 1 quartile = 0.25 quantile = 25 percentile
Q2 = df["Overall Marks"].quantile(0.5)    # 2 quartile = 0.5 quantile = 50 percentile
Q3 = df["Overall Marks"].quantile(0.75)    # 3 quartile = 0.75 quantile = 75 percentile
Q4 = df["Overall Marks"].quantile(1)    # 4 quartile = 1 quantile = 100 percentile

In [10]:
# printing the quartiles

print("First Quartile =", Q1)
print("Second Quartile =", Q2)
print("Third Quartile =", Q3)
print("Fourth Quartile =", Q4)

First Quartile = 57.25
Second Quartile = 77.0
Third Quartile = 87.25
Fourth Quartile = 9700.0