In [6]:
# import libraries

import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind

In [7]:
# load data

data = pd.read_csv("Data for 2 sample test.csv")

In [8]:
# print first 5 rows

data.head()

   Hauz Khas  Defence Colony
0        180             220
1        100             200
2        120             240
3        220             180
4        160             160

### Directly calculating the t-statistic and p-value using the 2 sample t-test command using the means of the two samples with population variance set to false which performs Welchâ€™s t-test, which does not assume equal population variance

In [30]:
ttest_ind(data["Hauz Khas"], data["Defence Colony"][0:14], equal_var = False)    # command to find direct detailed result of t-statistic and p-value, can also control the row index for the data

Ttest_indResult(statistic=-2.569593732633792, pvalue=0.016649998684395588)

In [32]:
t_statistic, p_value = ttest_ind(data["Hauz Khas"], data["Defence Colony"][0:14], equal_var = False)
print(p_value)    # to only print specific values of the required quantity

0.016649998684395588

#### Since the p-value < alpha (0.05), we reject the null hypothesis

## OR we can find the t-critical value form t-table using alpha as 0.05 for a two-tailed t-test with degree of freedom = 14+14-2 = 26 and compare with t-statistic absolute value. We get t-statistic > t-critical, so we reject the null hypothesis and conclude a significant difference in prices