In [1]:
# import libraries

import pandas as pd

In [2]:
# load data

df = pd.read_csv("variance.csv")

In [3]:
# printing top 4 rows

df.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

### Steps to calculate Variance
#### 1. Calculate Mean
#### 2. Calculate the distance from mean for each element
#### 3. Calculate the square of the distances
#### 4. Calculate the average of the squared distances

In [12]:
mean_df = df["Overall Marks"].mean()    # mean

In [15]:
print(mean_df)    # printing mean

164.24

#### PANDAS has created copies of the mean to be equal to the length of the "Overall Marks" series internally. Now it will perform an element-wise subtraction

In [16]:
diff_df = df["Overall Marks"] - mean_df    # difference between individual marks and mean stored as a list series in order of their index number

In [17]:
 print(diff_df)    # printing the difference (Xi-Xmean)

0     9535.76
1      -81.24
2      -86.24
3      -78.24
4      -73.24
       ...
95     -87.24
96    -109.24
97    -157.24
98     -91.24
99     -82.24
Name: Overall Marks, Length: 100, dtype: float64

In [22]:
squared_diff_df = diff_df ** 2    # squaring the difference and stored in a similar fashion as the difference (diff_df)

In [23]:
print(squared_diff_df)    # printing the squared difference

0     9.093072e+07
1     6.599938e+03
2     7.437338e+03
3     6.121498e+03
4     5.364098e+03
          ...
95    7.610818e+03
96    1.193338e+04
97    2.472442e+04
98    8.324738e+03
99    6.763418e+03
Name: Overall Marks, Length: 100, dtype: float64

In [24]:
var_df = squared_diff_df.mean()    # calculating the variance of the dataset

In [25]:
print("Variance =", var_df)    # printing the variance

Variance = 919170.8423999996

### Calculating Variance Directly using .var() function

In [27]:
variance_df = df["Overall Marks"].var(ddof=0)

#### In standard statistical practice, ddof=1 provides an unbiased estimator of the variance of a hypothetical infinite population. ddof=0 (default value) provides a maximum likelihood estimate of the variance for normally distributed variables.

In [28]:
print("Variance =", variance_df)    # print the variance

Variance = 919170.8423999996