In [1]:
# import libraries

import pandas as pd

In [2]:
# load dataset

df = pd.read_csv("10 Standard Deviation.csv")

In [3]:
# print top 5 rows

df.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

### Steps to calculate Standard Deviation
#### 1. Calculate Variance and take Square Root of it

In [10]:
# normal full method to caluclate variance and standard deviation

mean_df = df["Overall Marks"].mean()    # mean
print("Mean =", mean_df)
diff_df = df["Overall Marks"] - mean_df    # difference from mean
squared_diff_df = diff_df ** 2    # squared difference
var_df = squared_diff_df.mean()    # variance
print("Variance =", var_df)

Mean = 164.24
Variance = 919170.8423999996

In [13]:
std_df = var_df ** 0.5    # calculate standard deviation
print("Standard Deviation =", std_df)    # print standard deviation

Standard Deviation = 958.7339789534944

In [16]:
# using the .var() and .std() functions to directly calculate variance and standard deviation

variance_df = df["Overall Marks"].var(ddof=0)    # calcualting variance
sd_df = df["Overall Marks"].std(ddof=0)    # calculating standard deviation
print("Variance =", variance_df,"\nStandard Deviation =", sd_df,"")    # printing variance and standard deviation

Variance = 919170.8423999996
Standard Deviation = 958.7339789534944