In [1]:
import pandas as pd    # import libraries

In [7]:
df = pd.read_csv("quiz.csv")    # load data

In [8]:
df.head()    # print top 5 rows

   Data
0   180
1   313
2   101
3   255
4   202

In [15]:
mean = df["Data"].mean()    # calculate mean
mean

181.25

In [16]:
std = df["Data"].std(ddof=0)    # calculate standard deviation
std

64.65514287355647

In [13]:
mean+std    # one standard deviation above (mean+1std)

245.90514287355649

In [14]:
mean-std    # one standard deviation below (mean-1std)

116.59485712644353

### Between one standard deviation means values between (mean-1std) and (mean+1std)