In [1]:
# importing libraries

import pandas as pd

In [2]:
# load dataset

df = pd.read_csv("Spread of Data.csv")

In [3]:
# print first 5 rows

df.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

#### Calculating Range (maximum value - minimum value)

In [4]:
max_df = df["Overall Marks"].max()    # maximum value
min_df = df["Overall Marks"].min()    # minimum value

In [6]:
range_df = max_df - min_df    # range

In [7]:
print(range_df)    # printing range

9700

#### Calculating the modified range, i.e. IQR (Inter Quartile Range = 3rd Quartile - 1st Quartile)

In [8]:
Q1 = df["Overall Marks"].quantile(0.25)    # 1st Quartile
Q3 = df["Overall Marks"].quantile(0.75)    # 3rd Quartile

In [11]:
IQR = Q3 - Q1    # inter-quartile range

In [12]:
print("IQR =", IQR)

IQR = 30.0